*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    border-bottom: dotted rgba(155, 75, 10, 0.897);
}
header>nav{
    display: flex;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    width: 100%;
    height: 5%;
    top:0px;
    text-align: left;
}
.icon{
    width: 3rem;
    height: 3rem;
}
a{
    margin: 1rem;
    color: rgb(180, 54, 32);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: oblique;
}
a:hover{
    Color: red;
    transform: rotate(3deg);
}
main{
    background-color: rgb(207, 176, 140);
    height: 95vh;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 1rem;
    color: rgb(228, 116, 12);
    font-size:xx-large;
}
h1:hover{
    color:red;
    transform:skew(10deg);
}
h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    margin-top: 0rem;
    margin: 1rem;
    color: rgb(196, 108, 26);
    margin-bottom: 1.5rem;
}
.homeimg1{
    display: flex;
    width: 70rem;
    height: 25rem;
    padding: 0.5rem;
    margin: auto;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    object-fit: cover;
    border-radius: 1rem;
}
.homeimg2{
    display:inline-block;
    width: 20rem;
    height: 20rem;
    padding: 0.5rem;
    object-fit: cover;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    margin: 1rem;
    border-radius: 1rem;
}
main>div{
    display: flex;
    justify-content: center;
    text-align: center;
}
p{
    color: rgb(158, 67, 2);
    padding: 0.5rem;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section>img{
    width: 20rem;
    height: 10rem;
}
section>p{
    display: flex;
    align-items: center;
    text-align: center;
    width: 20rem;
    height: 10rem;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
}
.contactimg{
    height: 25rem;
    width: 70%;
    padding: 0.5rem;
    object-fit: cover;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    margin: 1rem;
    margin-top: 3rem;
    border-radius: 1rem;
    display: flex;
}
.contacttxt{
    width: 20rem;
    height: 5rem;
}
#foocontact{
    font-style: oblique;
    display: flex;
    justify-content: center;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
}
.tel{
    margin-left: 5rem;
}
.mail{
    margin-right: 5rem;
}
.contactmain {
    height: 89vh;
}
footer>p{
    width: 100%;
}
.benimg1{
    width: 35rem;
    height: 20rem;
    margin: 1rem;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    padding: 1rem;
    border-radius: 1rem;
}
.benimg2{
    width: 35rem;
    height: 20rem;
    margin: 1rem;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    padding: 1rem;
    border-radius: 1rem;    
}
.allben{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.listben{
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    padding: 3rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: left;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(230, 58, 6);
    border-radius: 1rem;
    width: 30vw;
}
.mainben{
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    border-radius: 1rem;
    width: 40rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li>ul{
    color: rgb(158, 67, 2);
}
.tableinfo{
    display: flex;
    align-items: center;
    margin-top: 7rem;
}
th, td{
    border-style: solid;
    border-collapse: collapse;
    padding: 2rem;
}
th{
    color: rgb(71, 44, 28);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
}
td{
    color: rgb(99, 84, 76);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
    font-weight: 500;
}
table{
    border-style: double;
    border-color: rgb(255, 136, 0);
    border-radius: 1rem;
    border-spacing: 1rem;  
}
h6{
    display: none;
}
.rafflemain{
height: 75vh;
}
.rafflecontainer{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.rafflemap{
    padding: 1rem;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
}
.raffleform{
    color: rgb(112, 56, 10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 1rem;
    margin: 1rem;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
}
.raffleimg{
    border-radius: 1rem;
    margin: 0.5rem;
    width: 20rem;
    height: 15rem;
    padding: 0.5vh;
    background: rgb(180,148,58);
    background: linear-gradient(90deg, rgba(180,148,58,1) 0%, rgba(253,141,29,1) 50%, rgba(252,99,69,1) 100%);
}
.raffleimgcontainer{
    display: flex;
    flex-direction:column;
}
.formu{
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    height: 10rem;
    width: 10rem;
}